[submodule "public/js/vendor/jquery"]
	path = public/js/vendor/jquery
	url = git://github.com/jquery/jquery.git
[submodule "public/js/vendor/backbone"]
	path = public/js/vendor/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "public/js/vendor/modernizr"]
	path = public/js/vendor/modernizr
	url = git://github.com/Modernizr/Modernizr.git
[submodule "public/js/vendor/underscore"]
	path = public/js/vendor/underscore
	url = git://github.com/documentcloud/underscore.git
