<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Wilkommen auf transi!</h1>
<p>
  Bitte verifiziere Deine E-Mail Adresse durch klick auf den folgenden Link:
</p>
<p>
  <a href="<%= @host %><%= @user.get_verification_url %>"><%= @host %><%= @user.get_verification_url %></a>
</p>
<p>Vielen Dank für die Registrierung und Viel Spaß auf transi!</p>
</body>
</html>
