<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to transi.dev!</h1>
<p>
  Please verify your email address by clicking on the link below:  
</p>
<p>
  <%= 'http://localhost:3000/#validation/'+@user.id.to_s+'/code/'+@user.verification_code %>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>