<div id="container">
    <header>
        <h1 style="text-align:center;font-size:100px"><span style="color:green">T</span><span style="color:yellow">r</span><span style="color:red">a</span><span style="color:blue">n</span><span style="color:orange">s</span><span style="color:blue">i</span></h1>
    </header>
    <div id="main" role="main">

		<section id="searchResults">
            <label for="targetLang">Select Target Language</label>
            <select name="targetLang" id="targetLanguage">
                <option value="en">EN</option>
                <option value="de">DE</option>
            </select>
            <br />
            <input id="searchInput" type='search' placeholder='Search' />
            <ul id="searchResultList">

            </ul>
		</section>
        <section id="translations">
            <ul id="translationList">
                
            </ul>
            <!--
                <input id="newTranslationText" type="text" placeholder="Enter new translation" />
                <a href="#" id="addTranslation">Add</a>
                -->
		</section>
    </div>
    <footer>

    </footer>
  </div>
