    <div id="addWord-box" class="addWord popup">
        <a href="#" class="closeButton" onclick="return false;">x</a>

        <h1><%= addWordHeading %></h1>

        <form method="post" action="#" onsubmit="return false;">
            <fieldset>

                <label for="addword_word"><%= word %></label>
                <input id="addword_word" name="word" value="" type="text" autocomplete="on" placeholder="<%= word %>">

                <label for="addword_example"><%= example %> <%= sentence %></label>
                <input id="addword_example" name="example" value="" type="text" placeholder="<%= example %> <%= sentence %>">

                <button class="submit button" type="submit"><%= add %></button>

            </fieldset>
        </form>

        <div class="error hidden"></div>
    </div>
