<li class="detailResult">

    <div id="addTranslation-box" class="addTranslation popup">
        <a href="#" class="closeButton">x</a>

        <h1><%= addTranslationFor %> <%= currentWord %></h1>

        <form method="post" action="#" onsubmit="return false;">
            <fieldset>

                <label for="word"><%= word %></label>
                <input id="word" name="word" value="" type="text" autocomplete="on" placeholder="Word">

                <label for="example"><%= example %> <%= sentence %></label>
                <input id="example" name="example" value="" type="text" placeholder="<%= example %> <%= sentence %>">

                <button class="submit button" type="submit"><%= add %></button>

            </fieldset>
        </form>

        <div class="error"></div>
    </div>
    <a href="#" id="addTranslation"> <%= addTranslationFor %> <%= currentWord %> </a>
</li>