<div id="login-box" class="login popup">
    <a href="#" class="closeButton">x</a>
    
    <h1><%= login %></h1>
    
    <form method="post" action="#" onsubmit="return false;">
        <fieldset>
            
            <label for="username"><%= email %></label>
            <input id="username" name="email" value="" type="email" autocomplete="on" placeholder="Email" />
            
            <label for="password"><%= password %></label>
            <input id="password" name="password" value="" type="password" placeholder="Password" />
            
            <button class="submit button" type="submit"><%= login %></button>

            <p><a class="notMember" href="#signup"><%= notMember %></a></p>

        </fieldset>
    </form>
    
    <div class="error"></div>
</div>
