<div id="login-box" class="login popup">
    <a href="#" class="closeButton">x</a>
    
    <form method="post" action="#" onsubmit="return false;">
        <fieldset>
            
            <label for="username">Email</label>
            <input id="username" name="email" value="" type="email" autocomplete="on" placeholder="Email">
            
            <label for="password">Password</label>
            <input id="password" name="password" value="" type="password" placeholder="Password">
            
            <button class="submit button" type="submit">Log in</button>

            <p><a class="forgot" href="#">Forgot your password?</a></p>

        </fieldset>
    </form>
    
    <div class="error"></div>
</div>
