<div id="login-box" class="login-popup">
    <a href="#" class="closeButton">x</a>
    
    <form action="#" class="signin" method="post" onsubmit="return false;">
        <fieldset class="textbox">
            <label class="email">
                <span>Email</span>
                <input id="user_email" name="user[email]" size="30" type="text" />
            </label>
            <label class="email">
                <span>Password:</span>
                <input id="user_email" name="user[password]" size="30" type="text" />
            </label>
            <label class="email">
                <span>Password confirmation:</span>
                <input id="user_email" name="user[password]" size="30" type="text" />
            </label>
            <button class="submit button" type="submit">Sign in</button>
        </fieldset>
    </form>
</div>
