ul#translationList {
    text-align:left;
    li {
        .word {
            float:left;
            margin-left:10px;
        }
        
        p {
            margin: 0px;
        }
        h2{
            font-size: 1.2em;
            margin-bottom: 0px;
        }
        .icon {
            float:right;
            margin-top:20px;
        }
        
        .rating {
            float:left;
            font-size: 20px;
            font-weight: bold;
        }
        .count {
            text-align: center;
        }

        $arrow-helper: 10px solid transparent;
        $arrow: 10px solid grey;
        $arrow-voted: 10px solid orange;
        $arrow-hover: 10px solid blue;        
        
        .arrow {
            width: 0;
            height: 0;
            cursor: pointer;
        }

        .arrow.up {
            border-left: $arrow-helper;
            border-right: $arrow-helper;
            border-bottom: $arrow;
            &:hover {
                border-bottom: $arrow-hover;
            }
        }

        .arrow.down {
            border-left: $arrow-helper;
            border-right: $arrow-helper;
            border-top: $arrow;
            &:hover {
                border-top: $arrow-hover;
            }
        }

        .arrow.up.voted {
            border-bottom: $arrow-voted;
        }
        .arrow.down.voted {
            border-top: $arrow-voted;
        }

        .icon {
            cursor: pointer;
            float: right;
            font-size: 20px;
            color: blue;
        }

        [contentEditable="true"] {
            border: 1px solid #add8e6;
        }        
    }
}




