.popup
{
    form label {
        font-size:11px;
    }

    form input,
    form select {
        background:#666666;
        border-bottom:1px solid #333;
        border-left:1px solid #000;
        border-right:1px solid #333;
        border-top:1px solid #000;
        display:block;
        color:#fff;
        font:13px Arial, Helvetica, sans-serif;
        padding:6px 6px 4px;
        margin: 3px 0px 6px 0px;
        width:200px;

        @include round-corners(3px);

        &:-moz-placeholder {
            color:#bbb;
            text-shadow:0 0 2px #000;
        }
        &::-webkit-input-placeholder {
            color:#bbb;
            text-shadow:0 0 2px #000;
        }
    }
    form select { /* Change the color for the select box careful place it under form input, form select */
      color: #000;
      background: #fff;
      width: 214px;
    }
    
    .button {
        background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
        background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
        background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
        border-color:#000;
        border-width:1px;
        @include round-corners(4px);
        color:#333;
        cursor:pointer;
        display:inline-block;
        padding:6px 6px 4px;
        margin-top:10px;
        font:12px;
        width:214px;

        &:hover {
          background:#ddd;
        }
    }

    .error {
        color: red;
        font-size: 13px;
        display: none;
    }
}
